extends layout.pug

block styles
  link(rel='stylesheet' href='/home.css')

block scripts
  script(src='/home.js')

block content
  .ui.segment.new-svg-form
    form.ui.form#newSvgForm(action="/api/svgs" method="POST")
      .field
        label Insert your SVG code here
        textarea(name="content" rows='2')

      button.ui.tiny.teal.button(type="submit") Save

  .ui.divider.divider_big

  div
    h3.ui.header Liked

    if likedSvgs.length
      .ui.three.cards
        each svg in likedSvgs
          .ui.card
            .content.svg-wrap
              a(href=`/svg/${svg.id}`)
                img(src=svg.originalUrl)
            .extra.content
              a(href=`/svg/${svg.id}`)
                button.mini.ui.button Open
              button.mini.ui.button.likeSvgButton.icon(data-id=svg.id data-like="false")
                i.heart.icon.red
              button.mini.ui.button.right.floated.icon.removeSvgButton(data-id=svg.id)
                i.trash.icon
    else
      .ui.message
        .header No liked images
        p Like some SVGs to view them here

  .ui.divider

  div
    h3.ui.header Uploaded

    if allSvgs.length
      .ui.three.cards
        each svg in allSvgs
          .ui.card
            .content.svg-wrap
              img(src=svg.originalUrl)
            .extra.content
              a(href=`/svg/${svg.id}`)
                button.mini.ui.button Open
              button.mini.ui.button.icon.likeSvgButton(data-id=svg.id data-like="true")
                i.heart.icon.outline
              button.mini.ui.button.icon.right.floated.removeSvgButton(data-id=svg.id)
                i.trash.icon
    else
      .ui.message
        .header No uploaded images
        p Upload some SVGs to view them here
